openapi: 3.1.0
info:
  title: Keijiban API
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/license/mit/
servers:
  - url: https://api.keijiban.com/api
security:
  - cookieAuth: []
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: XSRF-TOKEN
  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string }
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, email, created_at, updated_at]
    Thread:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        user:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, title, user, created_at, updated_at]
    Post:
      type: object
      properties:
        id: { type: integer }
        body: { type: string }
        user:
          $ref: '#/components/schemas/User'
        thread_id: { type: integer }
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, body, user, thread_id, created_at, updated_at]
    Reaction:
      type: object
      properties:
        id: { type: integer }
        type: { type: string }
        user:
          $ref: '#/components/schemas/User'
        post_id: { type: integer }
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, type, user, post_id, created_at, updated_at]
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }
        details:
          oneOf:
            - type: object
            - type: 'null'
      required: [code, message]
    Envelope_User:
      type: object
      properties:
        data: { $ref: '#/components/schemas/User' }
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Envelope_Thread:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Thread' }
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Envelope_Post:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Post' }
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Envelope_Reaction:
      type: object
      properties:
        data: { $ref: '#/components/schemas/Reaction' }
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Paginated_Thread:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Thread'
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Paginated_Post:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
    Paginated_Reaction:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Reaction'
        meta: { type: object }
        error:
          oneOf:
            - $ref: '#/components/schemas/Error'
            - type: 'null'
      required: [data, meta, error]
paths:
  /auth/register:
    post:
      operationId: authRegister
      security: []
      summary: Register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_User'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      operationId: authLogin
      security: []
      summary: Login (sets cookie)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '204': { description: ok }
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      operationId: authLogout
      summary: Logout
      responses:
        '204': { description: ok }
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user:
    get:
      operationId: getCurrentUser
      summary: Current user
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_User'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /threads:
    get:
      security: []
      operationId: listThreads
      summary: List threads
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_Thread'
    post:
      operationId: createThread
      summary: Create thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, maxLength: 255 }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Thread'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /threads/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      security: []
      operationId: getThread
      summary: Get thread
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Thread'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateThread
      summary: Update (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string, maxLength: 255 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Thread'
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteThread
      summary: Delete (owner only)
      responses:
        '204': { description: ok }
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /threads/{id}/posts:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      security: []
      operationId: listPosts
      summary: List posts
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_Post'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createPost
      summary: Create post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Post'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /posts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    put:
      operationId: updatePost
      summary: Update post (owner only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Post'
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deletePost
      summary: Delete post (owner only)
      responses:
        '204': { description: ok }
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /posts/{id}/reactions:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      security: []
      operationId: listReactions
      summary: List reactions
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated_Reaction'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createReaction
      summary: Create reaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type: { type: string }
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Reaction'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteReaction
      summary: Delete my reaction
      responses:
        '204': { description: ok }
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
